---
import ContainerCenter from "@components/ContainerCenter.astro";
import { Image } from "astro:assets";
import linea from "@assets/aboutMe/info-b-vector.svg";
---

<section
  class="w-full flex relative justify-center items-center py-8 desktop:py-24"
>
  <Image
    src={linea}
    alt="Foto y Video Gaby"
    class="absolute top-0 left-0 w-full h-full object-cover object-center z-0"
  />
  <ContainerCenter
    class="flex flex-col justify-center items-center text-center gap-4"
  >
    <h4>♥️✨✨♥️</h4>
    <h2 class="text-2xl italic text-gray-700 laptop:w-3/4 laptop:text-5xl">
      "Tu historia no necesita un guion: solo los momentos reales que hacen que
      todo cobre sentido."
    </h2>
    <p class="text-gray-muted prose-sm laptop:w-3/5">
      No dirigimos escenas, las dejamos suceder. Lo más valioso no se planea, se
      siente. Cada gesto espontáneo se convierte en parte de una narrativa
      visual auténtica. Ese es el arte: capturar la verdad con belleza.
    </p>
    <h2 class="text-gray-700 text-xl italic prose-sm">✨Foto y video gaby✨</h2>
  </ContainerCenter>
</section>
