---
import { Image } from "astro:assets";
import imgLocation from "@assets/image-location-visit.webp";
import ButtonLinkWhatsApp from "@components/ButtonLinkWhatsApp.astro";
---

<section class="relative w-full min-h-screen">
  <Image
    src={imgLocation}
    alt="Sesión de XV años en la playa."
    class="absolute top-0 left-0 w-full h-full object-cover object-center"
    data-aos="fade-in"
  />
  <div
    class="absolute inset-0 bg-black/50 flex items-end phone-lg:items-center justify-center"
    data-aos="fade-in"
  >
    <div class="text-center text-white p-8 tablet:w-4/5">
      <h2 class="text-3xl md:text-5xl font-bold mb-4">
        "¿Tienes un lugar especial en mente? Nosotros vamos contigo."
      </h2>
      <p class="text-lg md:text-xl mb-6">
        Sesiones de fotos donde tú lo sueñas. Foto y Video Gaby viaja contigo
        para capturar tu historia.
      </p>
      <ButtonLinkWhatsApp className="mt-6" title="Agenda tu sesión hoy" />
    </div>
  </div>
</section>
