---
import ButtonLinkWhatsApp from "@components/ButtonLinkWhatsApp.astro";
import { Icon } from "astro-icon/components";
---

<section class="py-8 px-6 max-w-6xl mx-auto mt-12">
  <div class="text-center mb-10">
    <h2
      class="text-3xl font-semibold tracking-tight text-gold text-center phone-lg:text-4xl mb-2"
    >
      ¿Desde dónde trabajamos?
    </h2>

    <p class="text-base text-cinnamon italic mb-4 laptop:text-xl">
      Desde Halachó, Yucatán… o donde tú quieras. Tú eliges el lugar, nosotros
      llevamos el lente.
    </p>
  </div>

  <div class="grid grid-cols-1 md:grid-cols-2 gap-10 items-start">
    <!-- Mapa de Google -->
    <div class="w-full h-[28rem] rounded-xl overflow-hidden shadow-lg">
      <iframe
        src="https://www.google.com/maps/embed?pb=!4v1748887907714!6m8!1m7!1sA-O1ggDL5CXJeW5X7U_BHA!2m2!1d20.47614183808022!2d-90.08424872265334!3f281.09551312334975!4f-5.71119739705793!5f0.7820865974627469"
        width="100%"
        height="100%"
        style="border:0;"
        allowfullscreen=""
        loading="lazy"
        referrerpolicy="no-referrer-when-downgrade"
      >
      </iframe>
    </div>

    <!-- Información con íconos -->
    <div
      class="h-full space-y-6 text-left flex flex-col justify-center items-start"
    >
      <!-- Dirección -->
      <div class="flex items-start gap-4">
        <Icon name="direction-icon" class="w-6 h-6 text-rose-500 shrink-0" />
        <div>
          <p class="font-semibold text-gray-700">Dirección:</p>
          <p class="text-gray-600">
            Calle 22 por 21 y 23 #115, Halachó, Mexico, 97830
          </p>
        </div>
      </div>

      <!-- Cobertura -->
      <div class="flex items-start gap-4">
        <Icon name="coverage-icon" class="w-6 h-6 text-blue-500 shrink-0" />
        <div>
          <p class="font-semibold text-gray-700">Cobertura:</p>
          <p class="text-gray-600">
            Vamos hasta donde tú estés. Sesiones en haciendas, playas, casas y
            cualquier lugar especial para ti.
          </p>
        </div>
      </div>

      <!-- Correo electrónico -->
      <div class="flex items-start gap-4">
        <Icon name="email-icon" class="w-6 h-6 text-purple-500 shrink-0" />
        <div>
          <p class="font-semibold text-gray-700">Correo electrónico:</p>
          <p class="text-gray-600">
            <a
              href="mailto:fotovideogbay@hotmail.com"
              class="underline hover:text-purple-600"
              >fotovideogbay@hotmail.com</a
            >
          </p>
        </div>
      </div>

      <ButtonLinkWhatsApp className="mt-6" title="Agenda tu sesión hoy" />
    </div>
  </div>
</section>
