---
import ContainerCenter from "@components/ContainerCenter.astro";
import { ourServices } from "@data/dataServices.js";
import { Image } from "astro:assets";
---

<section class="py-12 flex flex-col items-center ">
  <ContainerCenter class=" text-center">
    
    <h2 class="text-3xl font-semibold tracking-tight text-gold text-center phone-lg:text-4xl ">
      Recuerdos que abrazan el alma
    </h2>
    <p class=" text-base laptop:text-xl text-cinnamon italic  mx-auto">
      Más que servicios, creamos memorias que te acompañan toda la vida.
    </p>

    <div class="grid grid-cols-1 md:grid-cols-3 gap-12 mt-8 ">
      {
        ourServices.map((service) => (
          <div class="flex flex-col overflow-hidden h-full border-0">
            <!-- Imagen alta y atractiva -->
            <div class="w-full h-96 relative rounded-xl overflow-hidden phone-lg:h-[35rem] tablet:h-64 laptop:h-[30rem] border-0">
              <Image
                src={service.urlImage}
                alt={`foto - ${service.title}`}
                class="w-full h-full object-cover object-center border-0"
              />
              <div
                class="absolute bottom-0 left-0 w-full h-1/2 flex justify-center items-end gap-4 bg-gradient-to-t from-white/100 to-transparent pointer-events-none z-10 border-0"
              >
                <h3 class="text-xl text-black  prose-sm my-4 font-medium">{service.title}</h3>
              </div>
            </div>
          </div>
        ))
      }
    </div>
  </ContainerCenter>
</section>
