<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <!-- 1 - title -->
    <title>
      Foto y Video Gaby | Fotografía y Video para Bodas, XV Años y Más
    </title>
    <!-- 3 - link -->
    <link rel="canonical" href="https://foto-y-video-gaby.netlify.app/" />
    <link
      rel="icon"
      type="image/png"
      href="/logo-gaby-96x96.png"
      sizes="96x96"
    />
    <link rel="icon" type="image/svg+xml" href="/logo-gaby.svg" />
    <link rel="shortcut icon" href="/logo-gaby.ico" />
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="/logo-gaby-apple-touch-icon.png"
    />
    <link rel="manifest" href="/site.webmanifest" />
    <!-- 5 - meta -->
    <meta name="apple-mobile-web-app-title" content="Foto y Video Gaby" />

    <meta
      name="description"
      content="Estudio fotográfico en Halachó, Yucatán especializado en bodas, XV años, retratos y eventos sociales. ¡Foto y Video Gaby viaja contigo!."
    />
    <meta
      name="keywords"
      content="fotografía profesional, video profesional, estudio fotográfico, sesiones de fotos, fotografía de bodas, fotos de XV años, fotos de quinceañeras, retratos familiares, fotógrafo en Halachó, fotografía en Yucatán, Foto y Video Gaby, video de eventos, fotos de parejas, sesiones en haciendas, sesiones en exteriores, Halachó Yucatán, fotógrafo cerca de mí, cobertura fotográfica, fotógrafo a domicilio, fotografía creativa, fotógrafo de confianza Yucatán"
    />

    <meta name="author" content="Foto y Video Gaby Halachó" />
    <meta name="robots" content="index, follow" />

    <meta property="og:url" content="https://foto-y-video-gaby.netlify.app/" />
    <meta property="og:type" content="website" />
    <meta
      property="og:title"
      content="Foto y Video Gaby | Fotografía y Video para Bodas, XV Años y Más"
    />
    <meta
      property="og:description"
      content="Estudio fotográfico en Halachó, Yucatán especializado en bodas, XV años, retratos y eventos sociales. ¡Foto y Video Gaby viaja contigo!."
    />

    <meta property="og:locale" content="es_MX" />
    <!-- 8 - template -->
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  </head>
  <body>
    <slot />
  </body>
</html>
